
<div class="col-md-offset-3 col-md-6 question single">

  <h5>Latest question</h5>
  <h2>Question goes here and here and here?</h2>

  <textarea rows="3"></textarea>
  <input type="submit" value="Submit your answer" class="btn btn-primary" />

</div>

<div class="col-md-12 question admin">

  <h2>Listing questions <span>(Admin)</span></h2>

  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Desc</th>
        <th>Visibility</th>
        <th>Company</th>
        <th>Timer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.content %></td>
          <td><%= question.desc %></td>
          <td><%= question.visibility %></td>
          <td><%= question.company %></td>
          <td><%= question.timer %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Question', new_question_path %>

</div>


